<%- include( '../layouts/default/header.ejs', {
layoutTitle:locals.__(locals.locale + '/pages/home.layoutTitle'),
layoutDescription:locals.__(locals.locale + '/pages/home.layoutDescription') }
); -%>

<h1><%= locals.__(locals.locale + '/pages/home.title') %></h1>

<%- include('../layouts/default/footer.ejs'); %>
