<%- include( '../layouts/default/header.ejs', {
	layoutTitle: locals.__(locals.locale + '/pages/profile.layoutTitle'),
	layoutDescription: locals.__(locals.locale + '/pages/profile.layoutDescription') }
	); -%>
	
	<h1><%= locals.__(locals.locale + '/pages/profile.title') %></h1>
	
	<%- include('../layouts/default/footer.ejs'); %>