<%- include( '../../layouts/default/header.ejs', {
layoutTitle:locals.__(locals.locale + '/pages/401.layoutTitle'),
layoutDescription:locals.__(locals.locale + '/pages/401.layoutDescription') }
); -%>

<h1><%= locals.__(locals.locale + '/pages/401.title') %></h1>

<%- include('../../layouts/default/footer.ejs'); %>
