<%- include( '../../layouts/default/header.ejs', {
layoutTitle:locals.__(locals.locale + '/pages/errors/403.layoutTitle'),
layoutDescription:locals.__(locals.locale + '/pages/errors/403.layoutDescription') }
); -%>

<h1><%= locals.__(locals.locale + '/pages/errors/403.title') %></h1>

<%- include('../../layouts/default/footer.ejs'); %>
